@font-face {
    font-family: 'Bradley Gratis';
    src: url('https://cdn.jsdelivr.net/gh/henry808/darkwave-project/fonts/Bradley%20Gratis.ttf') format('truetype');
}

body, div, p, h1, h2, h3 {
    font-family: 'Bradley Gratis';
}